.table-container {
  width: 100%; /* กำหนดความกว้างของตาราง */
  margin: 20px auto; /* จัดตำแหน่งตารางตรงกลาง */
  border-collapse: collapse; /* รวมเส้นขอบเข้าด้วยกัน */
  
}

.table-container th, .table-container td {
  border: 1px solid #ffffff; /* เส้นขอบตารางสีขาว */
  padding: 8px; /* ระยะห่างของข้อความจากขอบ */
}

.table-container th {
  background-color: #f0f0f0; /* สีเทาสลับเท่าอ่อน */
  text-align: center; /* จัดข้อความตามระดับกึ่งกลาง */
}

.table-container td {
  text-align: center; /* จัดข้อความตามระดับกึ่งกลาง */
}

.btn {
  display: block; 
  width: 100px; 
  margin: 20px auto; 
  padding: 10px 20px; 
  background-color: #154a5c; 
  color: #632525; 
  text-decoration: none; 
  border-radius: 5px; 
  text-align: center; 
}


